<h1>Chintus listing page</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
   <tbody>
     <td>title</td>
     <td>description</td>
     <td>placeholder</td>
     </tbody>
</table>
