 Hello chintu

 <p><%= link_to 'return to chintus listing', chintus_path %></p>
 <p><%= link_to 'return to articles listing', articles_path %></p>
 <p><%=  link_to 'wnt to go to about page', about_path %></p>
